@import "~office-ui-fabric-react/dist/sass/References.scss";

.youtubeClone {
  * {
    margin: 0px;
  }
  .body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .header {
    font-size: 20px;
  }
}
